@media screen and (max-width : 576px) {
    .headerInfoContainer{
        max-width: 500px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
@media screen and (min-width : 576px) {
    .headerInfoContainer{
        max-width: 500px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
@media screen and (min-width : 768px) {
    .blogesContainers{
        display: flex;
        gap: 20px;
    }
    .blogeRightDetails{
        flex: 65%;
    }
    .blogeLeftDetails{
        flex: 35%;
    }
}