/* Default css style start */
*,
::after,
::before,
a, span,li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Default css style end */

/* Header section css start */
header{
    background-color: #f1f1f1;
    padding: 50px 0px;
}
.headerDesc{
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}
.headerDesc .unknownDesign{
    background-color: black;
    color: white;
    padding: 5px;
}
/* Header section css end */